*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container{
    height:100vh;
    background-image:url(images/desktop.jpeg);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: right;
    opacity: 0.8;
    padding-top: 3rem;
}

#options{
    margin:auto;
    width: 70%;
    height: 25vh;
    background-color: rgba(1, 1, 1, 0.6);
    position: relative;
}

.options-text{
    color:#f0fff8;
    font-weight: 400;
    text-align: center;
    padding-top:20px;
}

.show-pop-up{
    visibility: visible;
}

.signup{
    font-size: 1.1rem;
    padding: 8px 16px;
    background-color: #00ab41;
    color: #111;
    margin: auto 45%;
    border: none;
    border-radius: 4px;
    cursor:pointer;
    width:120px;
}

.pop-up{
    width:50%;
    background-color: rgb(4, 4, 4, 0.4);
    margin: auto;
    /* visibility:hidden; */
}
form{
    padding:2rem;
}

div{
    margin:1.5rem;
}

input[type=text], input[type=email], input[type=password]{
    width:100%;
    font-size: 1.1rem;
    padding: 0.8rem;
    border:none;
}

input[type=submit]{
    width:100%;
    font-size: 1rem;
    padding:0.5rem;
    color: rgb(255,255,255);
    background-color: #ffbd44;
    border:none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 700;
}
input[type=submit]:hover{
    background-color:#00ab41;
}


@media only screen and (max-width: 700px){
    .container{
        height:100vh;
        background-image:url(images/mobile.jpeg);
        background-size:cover;
        background-repeat: no-repeat;
        opacity: 0.8;
    }
}
